# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
.vercel/

# Database & Local files
backend/employee.db
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
